.container-register {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
	background-image: url('../../images/bg-detail-blue-1.png'), url('../../images/bg-datail-blue-2.png'), url('../../images/bg-datail-blue-3.png');
	background-position: right bottom, right top, left top;
	background-repeat: no-repeat;
	background-size: 400px, 100px, 100px;

	.apresentation {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		height: 450px;
		margin: 80px auto 0 auto;

		h1 {
			font: 600 48px "Raleway", sans-serif;
			color: #DC493A;
		}

		h2 {
			font: 500 38px "Raleway", sans-serif;
			color: #DC493A;
			padding: 10px 0;
			margin: 0;
		}
	}

    .login {
		width: 350px;
        height: 400px;
        margin: auto;
		padding: 30px;

        display: flex;
        align-items: center;
        flex-direction: column;

        border-radius: 29px;
        background: #e3ebff;
        box-shadow: 7px 7px 14px #bfd0d0, -7px -7px 14px #ffffff;

        .title {
            font: 600 32px "Raleway", sans-serif;
            color: #DC493A;
            margin-bottom: 40px;
        }

		.controllers {
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;

			div {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-direction: column;
				width: 100%;


				input {
					all: unset;
					font: 400 14px "Raleway", sans-serif;

					height: 50px;
					width: 80%;
					padding: 0px 20px;
					margin-bottom: 20px;

					color: #DC493A;
					border-radius: 29px;
					background: #e3ebff;
					box-shadow: inset 7px 7px 14px #bfd0d0, inset -7px -7px 14px #ffffff;

					&::placeholder {
						color: #DC493A;
					}
				}

				.register-call {
					font: 400 12px "Raleway", sans-serif;
					color: #DC493A;

					&:hover {
						color: darken($color: #DC493A, $amount: 10);
					}
				}
			}

			button.button {
				all: unset;
				height: 50px;
				width: 100%;

				text-align: center;
				background-color: #DC493A;
				border-radius: 29px;
				color: #FFF;
				cursor: pointer;

				font: 600 20px "Raleway", sans-serif;

				&:hover {
					background-color: darken($color: #DC493A, $amount: 10);
				}
			}
		}
    }

}
